.destination-container {
    display: border-box;
    margin: 0 auto;
}
.destination-background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: auto;
}

.dest-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 99.6%;
  }

.destination-content {
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: left;
    color: rgb(208, 214, 249);
    width: 27%;
    z-index: 2;
}
.destination-content {
    position: absolute;
    top: 50%;
    left: 10%;
    text-align: left;
    color: rgb(208, 214, 249);
    width: 27%;
    z-index: 2;
}
.dest-heading {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 4.75px;
}
.dest-inner {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin: 0px;
}
.dest-content {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 18px;
}