.tech-container {
    display: border-box;
    margin: 0 auto;
}

.tech-background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
}

.tech-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 99.6%;
}

.tech-content {
    position: relative;
    text-align: left;
    color: rgb(208, 214, 249);
    z-index: 2;
    transform: translateY(10%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: 1px solid red;
}

.tech-heading {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 4.75px;
}

/* .tech-content-box {
    
} */

.tech-inscription {
    display: flex;
}

.tech-terminology {
    font-family: "Barlow Condensed", sans-serif;
    font-style: normal;
    font-size: 16px;
    color: rgb(208, 214, 249);
}

.tech-title {
    font-family: "Bellefair", serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 56px;
    width: 100%;
    color: rgb(163, 33, 33);
}

.tech-text {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 18px;
    color: rgb(208, 214, 249);
    width: 50%;
}