.container {
    display: flex;
    justify-content: center;
    width:43vw;
    height: 10vh;
    z-index: 10;
    background-image: url('../assets/Rectangle.png');
    float: right;
    position: relative;
    margin-top: 5%;
}

.nav {
    margin: auto;
    
}

.links {
    padding: 0;
    margin: 0;
    list-style: none;    
  }


.links li {
    display: inline;
    
  }
  

.links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    font-family: "Barlow Condensed", sans-serif;
    padding: 40px;
  }

.links a:hover {
    color: #ffffff;
}

.links a:active {
    color: #e74c3c;
}