.mars-container {
    box-sizing: border-box;
    margin: 0 auto;
}

.mars-background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
}

.planet-background {
    top: 0;
    left: 0;
    width: 100%;
    height: 99.6%;
  }


.mars-heading {
    position: absolute;
    top: 13rem;
    left: 11rem;
    font-family: "Barlow Condensed", sans-serif;
    color: rgb(208, 214, 249);
    font-weight: 100;
    font-size: 28px;
    letter-spacing: 4.75px;
    z-index: 9;
}

.mars {
    position: absolute;
    object-fit: cover;
    z-index: 1;
    top: 22rem;
    left: 14rem;
    border: 2px solid rgb(21, 247, 0);
    border-radius: 50%;
}

.mars-content {
    position: absolute;
    top: 25rem;
    left: 83rem;
    transform: translateX(-50%);
    text-align: left;
    color: rgb(208, 214, 249);
    width: 27%;
    z-index: 9;
}

.mars-inner {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-size: 130px;
    margin: 0;
}

.mars-txt {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 2.35px;
}