.crew-container {
    display: border-box;
    margin: 0 auto;
}
.crew-background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: auto;
}

.crew-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 99.6%;
  }

.crew-content {
    position: absolute;
    top: 40%;
    left: 10%;
    text-align: left;
    color: rgb(208, 214, 249);
    width: 27%;
    z-index: 2;
}

.crew-heading {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 4.75px;
}

.crew-function {
    font-family: "Bellefair", serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 24px;
    width: 100%;
}

.crew-name {
    font-family: "Barlow Condensed", serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 50px; 
    width: 100%;
}

.dest-text {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 18px;
}