.crew-container{
    width: 1440px;
    height: 900px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.background {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.crew-member {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: rgb(208, 214, 249);
    width: 27%;
    z-index: 2;
}

.crew-function {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 4.75px;
}

.crew-name {
    font-family: "Bellefair", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 80px;
    margin: 0px;
}

.Crew-content {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 18px;
    width: 100%;
}

.crew-pic {
    position: static;
    transform: none;
    margin-top: 20px;
    height: auto;
    text-align: center;
    z-index: 2;
}

.crew-douglas-hurley {
    width: 100%;
    height: auto;
}