.crew-container {
    display: border-box;
    margin: 0 auto;
    
}
.crew-background {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: 0;
}

.crew-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 99.6%;
  }

.crew-content {
    position: relative;
    text-align: left;
    color: rgb(208, 214, 249);
    z-index: 2;
    transform: translateY(10%);
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.crew-heading {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 4.75px;
}

.crew-function {
    font-family: "Bellefair", serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 32px;
    width: 100%;
    padding-top: 50px;
}

.crew-name {
    font-family: "Bellefair", serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 56px; 
    width: 150%;
}

.crew-text {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 18px;
    color: rgb(208, 214, 249);

}

/* .crew-pic {
    z-index: 3; 
    max-width: 90%;
    max-height: 80%;
} */

.crew-member {
    width: 90%;  
    height: auto;
    /* padding-bottom: 20rem; */
}


.crew-navigation {
    display: flex;
    margin-left: 14rem;
    gap: 20px;
  }
 
  

  .crew-navigation button {
    /* background-color: transparent; */
    border: 1px solid white;
    color: rgb(117, 16, 16);
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 50px;
    gap: 15px;
    border-color: yellowgreen;
    z-index: 9;
  }

  .crew-navigation button:hover {
    background-color: rgb(255, 255, 255);
  }

