.dest-header-container {
  display: flex;
  justify-content: center;
  width:43vw;
  height: 10vh;
  z-index: 10;
  float: right;
  left: 36rem;
  position: relative;
  top: 20rem;
}

.dest-header-container::after {
content: '';
position: absolute;
top: 30rem;
right:210%;
transform: translate(-50%, -50%);
width: 4rem;
height: 4rem;
border-radius: 50%;
background-size: 95%;
z-index: 1;
}

.dest-header-container::before {
content: '';
position: absolute;
top: 50%;
right: 50%;
transform: translate(-50%, -50%);
width: 40vw;
height: 50vh;
z-index: 1;
}

.dest-links {
  padding: 0;
  list-style: none;    
}


.dest-links li {
  display: inline;    
}


.dest-links a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 23px;
  font-family: "Barlow Condensed", sans-serif;
  padding: 25px;
  position: relative;
  letter-spacing: 2.7px;
}

.dest-links a::after {
  content: '';
  position: absolute;
  bottom: 20%;
  align-items: center;
  left: 25%;
  width:50%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.dest-links a:hover::after {
background-color: rgba(208,214,248, 0.384);
}

.dest-links a.active::after {
background-color: #FFFFFF;
}

.dest-links a:hover.active::after {
background-color: white;
}