.Homepage-container{
    margin: auto;
    background-image: url('../../assets/Mask.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background {
    display: flex;
}

.Homepage-content {
    position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: rgb(208, 214, 249);
    width: 27%;
}

.Home-heading {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 28px;
    letter-spacing: 4.75px;
}

.Home-inner {
    font-family: "Bellefair", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150px;
    margin: 0px;
}

.Home-content {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100px;
    font-style: normal;
    font-size: 18px;

}